<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Supplier Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/Css/supplierStyle.css}">
</head>

<body class="bg-light p-4">
    <div th:replace="~{Frontend/Admin/Common/Sidebar :: navbar}"></div>
    <div th:replace="~{Frontend/Admin/Common/LogoutModel :: logoutModal}"></div>

    <main class="col-md-9 col-lg-10 content bg-light">
        <div>
            <h3 class="fs-1 fw-bolder mb-4">Supplier Management</h3>

            <div class="row search-bar mb-4 align-items-center">
                <div class="col-md-10">
                    <form th:action="@{/admin/suppliers}" method="get" class="form-inline ">
                        <div class="input-group w-100">
                            <input type="text" id="search" class="form-control" name="query" th:value="${query}"
                                   placeholder="Search suppliers...">
                            <button type="submit" class="btn btn-secondary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100" id="addSupplierBtn">Add Supplier </button>
                </div>
            </div>

            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody th:fragment="supplierTable">
                    <tr th:each="supplier : ${suppliersList}">
                        <td th:text="${supplier.supplierId}"></td>
                        <td th:text="${supplier.supplierName}"></td>
                        <td th:text="${supplier.supplierEmail}"></td>
                        <td th:text="${supplier.supplierPhno}"></td>
                        <td th:text="${supplier.supplierAddr}"></td>
                        <td class="d-flex gap-2">
                            <button id="editSupplierBtn"
                                    class="btn btn-outline-primary btn edit-btn"
                                    th:data-id="${supplier.supplierId}"
                                    th:data-name="${supplier.supplierName}"
                                    th:data-email="${supplier.supplierEmail}"
                                    th:data-phone="${supplier.supplierPhno}"
                                    th:data-address="${supplier.supplierAddr}">
                                Edit
                            </button>
                            <a th:href="@{/admin/suppliers/delete/{id}(id=${supplier.supplierId})}"
                               onclick="return confirm('Are you sure you want to delete this supplier?');"
                               class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Supplier pagination" class="pagination-fixed-bottom">
                <ul class="pagination justify-content-center ">
                    <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                        th:classappend="${i == currentPage} ? 'active' : ''"
                        class="page-item">
                        <a class="page-link" th:href="@{/admin/suppliers(query=${query}, page=${i}, size=${5})}"
                           th:text="${i + 1}"></a>
                    </li>
                </ul>
            </nav>

            <div class="modal fade" id="SupplierModal" tabindex="-1" aria-labelledby="supplierModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div th:fragment="addSupplierModalContent">
                            <form id="supplierForm" th:action="@{/admin/suppliers/addSupplier}" method="post"
                                  th:object="${supp}">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="supplierModalLabel">Add Supplier</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close" onclick="resetSupplierForm()">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="supplierName" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="supplierName"
                                               th:field="*{supplierName}" required>
                                        <div class="text-danger" id="supplierNameError"
                                             th:if="${#fields.hasErrors('supplierName')}" th:errors="*{supplierName}"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="supplierEmail" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="supplierEmail"
                                               th:field="*{supplierEmail}" required>
                                        <div class="text-danger" id="supplierEmailError"
                                             th:if="${#fields.hasErrors('supplierEmail')}" th:errors="*{supplierEmail}"></div>
                                        <div class="text-danger" th:if="${emailError}" th:text="${emailError}"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="supplierPhno" class="form-label">Phone</label>
                                        <input type="text" class="form-control" id="supplierPhno"
                                               th:field="*{supplierPhno}" required>
                                        <div class="text-danger" id="supplierPhnoError"
                                             th:if="${#fields.hasErrors('supplierPhno')}" th:errors="*{supplierPhno}"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="supplierAddr" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="supplierAddr"
                                               th:field="*{supplierAddr}" required>
                                        <div class="text-danger" id="supplierAddrError"
                                             th:if="${#fields.hasErrors('supplierAddr')}" th:errors="*{supplierAddr}"></div>
                                    </div>
                                    <div class="text-danger" th:if="${generalError}" th:text="${generalError}"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            onclick="resetSupplierForm()">Close</button>
                                    <button type="submit" class="btn btn-primary" id="modalSubmitBtn">Add Supplier</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editSupplierModal" tabindex="-1" aria-labelledby="editSupplierModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div th:fragment="editSupplierModalContent">
                            <form id="editSupplierForm" th:action="@{/admin/suppliers/edit/{id}(id=${supp.supplierId})}" method="post"
      							th:object="${supp}">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editSupplierModalLabel">Edit Supplier</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close" onclick="resetEditSupplierForm()">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <input type="hidden" th:field="*{supplierId}" id="editSupplierId">
                                    <div class="mb-3">
                                        <label for="editSupplierName" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="editSupplierName"
                                               th:field="*{supplierName}" required>
                                        <div class="text-danger" id="editSupplierNameError"
                                             th:if="${#fields.hasErrors('supplierName')}" th:errors="*{supplierName}"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="editSupplierEmail" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="editSupplierEmail"
                                               th:field="*{supplierEmail}" required>
                                        <div class="text-danger" id="editSupplierEmailError"
                                             th:if="${#fields.hasErrors('supplierEmail')}" th:errors="*{supplierEmail}"></div>
                                        <div class="text-danger" th:if="${editEmailError}" th:text="${editEmailError}"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="editSupplierPhno" class="form-label">Phone</label>
                                        <input type="text" class="form-control" id="editSupplierPhno"
                                               th:field="*{supplierPhno}" required>
                                        <div class="text-danger" id="editSupplierPhnoError"
                                             th:if="${#fields.hasErrors('supplierPhno')}" th:errors="*{supplierPhno}"></div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="editSupplierAddr" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="editSupplierAddr"
                                               th:field="*{supplierAddr}" required>
                                        <div class="text-da	nger" id="editSupplierAddrError"
                                             th:if="${#fields.hasErrors('supplierAddr')}" th:errors="*{supplierAddr}"></div>
                                    </div>
                                    <div class="text-danger" th:if="${editGeneralError}" th:text="${editGeneralError}"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            onclick="resetEditSupplierForm()">Close</button>
                                    <button type="submit" class="btn btn-primary" id="editModalSubmitBtn">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/JS/supplierScript.js"></script>
</body>

</html>